.SimAllEvents {

    div{
        .AllEventsOverviewHeaders{
            display: flex;
            align-items: center;
            margin: 0.5em 0;
            border-radius: 8px;
            height: 2.7em;

            .AllEventsOverviewHeadersLeft{
                width: 50%;
                display: flex;
                align-items: center;
                float: left;
                position: relative;

                .AllEventsNFLIconContainer{
                    display: inline-block !important;
                    transform: scale(.6);
            
                    img{
                        transform: scale(.7);
                    }
                }

                span{
                    margin-left: -1ch;
                }
            }

            .AllEventsOverviewHeadersRight{
                width: 50%;
                display: flex;
                align-items: center;
                float: right;

                .CategoryHeader{
                    text-align: center;
                }
            }
        }
    }
}